.Activity{
    width: 522px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    padding: 15px;
    position: relative;
    margin-top: 20px;
}
.recent_activity{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    overflow: scroll;
    height: 400px;
}
.recent_activity::-webkit-scrollbar{
    display: none;
}
.recent_activity li:before {
    content: "";
    border-left: 2px dashed rgba(86,100,210,.25);
    position: absolute;
    left: 14px;
    bottom:-15px;
    top: 50px;
}
.recent_activity li img{
    margin-top: 20px;
    z-index: 11;
}
.recent_activity li{
    position: relative;
}
.recent_activity li, i{
    display: flex;
    align-items: flex-start;
}
.recent_activity i p{
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: -3px;
}
.recent_activity i{
    margin-bottom: -6px;
    margin-top: 20px;
}
.recent_activity span{
    margin-left: 15px;
}