.chatWrapper {

}

.header {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.breadcrumbs {
  a {
    color: #505d69;
  }

  color: #505d69;
}

.content {
  display: flex;
}

.toolbar {
  width: 15%;
  border-right: 1px solid #bbb;

  .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bbb;
    padding-bottom: 8px;

    button {
      border: none;
      background: none;
      cursor: pointer;
    }

    .col {
      display: flex;
      align-items: center;
    }

    img {
      height: 30px;
      width: 30px;
      margin-right: 18px;
      border-radius: 50%;
    }
  }
}

.user_details {
  h3 {
    margin: 0;
  }

  p {
    font-weight: bold;
    position: relative;
    margin: 0;
    padding-left: 10px;
    color: #1cbb8c;

    &:before {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      left: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      background-color: #1cbb8c;
    }
  }
}

.search {
  display: flex;
  align-items: center;

  input {
    flex-grow: 1;
    padding: 8px 4px;
    background: none;
    border: none;
    outline: none;
    margin-left: 8px;
  }
}

.tabs {
  display: flex;
  margin-bottom: 20px;

  button {
    width: 33.33333333%;
    height: 60px;
    border: none;
    background: none;
    background: #505d6278;

    span {
      display: block;
      margin-bottom: 4px;
    }

    &.active {
      background: white;
    }
  }
}

.user {
  display: flex;
  align-items: center;
  padding: 5px 0;
  cursor: pointer;

  img {
    width: 30px;
    border-radius: 50%;
    height: 30px;
    margin-right: 10px;
  }

  h3 {
    margin: 0;
  }

  p {
    margin: 0;
  }

}

.userDetails {
  flex-grow: 1;
}

.chatField {
  width: 100%;
}

.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 30px;
  border-bottom: 1px solid #74788d;

  h3 {
    margin: 0;
  }
}

.status {
  margin: 0;
}

.chatSearchInput {
  width: 100%;
  padding: 0.47rem 0.75rem;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #505d69;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  margin-right: 18px;
  border-radius: 0.95rem;
}

.chatActions {
  display: flex;

  button {
    width: 40px;
    background: none;
    border: none;

  }
}