.chatWrapper {

}

.header {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.breadcrumbs {
  a {
    color: #505d69;
  }

  color: #505d69;
}

.content {
  display: flex;
}

.toolbar {
  width: 20%;

  .user {
    display: flex;
    justify-content: space-between;
    .col{
      display: block;
    }
    img {
      height: 50px;
      width: 50px;
    }
  }
}
